@import "syntax-variables";

:host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: darken(@syntax-indent-guide-color, 5%);
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
        border-bottom: 1px solid;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
      &.linter-warning .icon-right:before {
          color: mix(#FFF, @red);
      }
      &.folded {
        background: @red;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @syntax-cursor-color;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
  // The cursor line important to use rgba for opacity, also requires !important
  // to override any theme.
  .line.highlight-line {
    background: fade(@syntax-selection-color, 35%) !important;
    border-bottom: 1px solid @syntax-gutter-text-color-selected;
  }
  .bracket-matcher.region {
      background: fade(@blue, 40%);
      border-radius: .1rem;
      box-shadow: 0 0 0 .2rem fade(@blue, 50%);
  }
  .highlight.linter-warning .region {
      -webkit-mask-image: none;
      background: fade(@red, 30%);
      box-shadow: 0 -.2rem 0 0 @red, 0 .2rem 0 0 @red;
      border-radius: .1rem;
  }
}

.spell-check-misspelling .region {
    border-bottom: 2px dotted @cyan;
}

:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: lighten(@gray, 10%);
}

.text.html {
    color: mix(@syntax-text-color, @gray);
}

.entity {
  &.name.type {
    color: @light-orange;
    text-decoration: underline;
  }

  &.other.inherited-class {
    color: @green;
  }
}

.keyword {
  color: @purple;

  &.control {
    color: @purple;
  }

  &.operator {
    color: @red;
  }

  &.other.special-method {
    color: @blue;
  }

  &.other.unit {
    color: @orange;
  }
}

.storage {
  color: @purple;
}

.constant {
  color: @orange;

  &.character.escape {
    color: @cyan;
  }

  &.numeric {
    color: @red;
  }
  &.boolean {
      &.true {
        color: mix(@purple, @blue);
      }
      &.false {
          color: mix(@purple, @red);
      }
  }
  &.null {
    color: mix(@blue, @dark-gray);
  }

  &.other.color {
    color: @cyan;
  }

  &.other.symbol {
    color: @green;
  }
}

.variable {
  color: @red;

  &.interpolation {
    color: darken(@red, 10%);
  }

  &.parameter.function {
    color: @light-orange;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @green;
  &.html {
      color: @blue;
  }
  &.js {
    color: mix(@light-orange, @yellow);
  }
  &.quoted.double .begin,
  &.quoted.double .end {
    color: mix(@red, @orange);
  }
  &.quoted.single .begin,
  &.quoted.single .end {
      color: mix(@yellow, @green);
  }

  &.regexp {
    color: @cyan;

    .source.ruby.embedded {
      color: @orange;
    }
  }

  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.definition {
    &.comment {
      color: lighten(@gray, 7%);
    }
    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: @light-orange;
      font-style: bold;
    }

    &.italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: darken(@red, 10%);
  }

}

.support {
  &.class {
    color: @light-orange;
  }

  &.function  {
    color: @cyan;

    &.any-method {
      color: @blue;
    }
  }
}

.entity {
  &.name.function {
    color: @blue;
  }

  &.name.class, &.name.type.class {
    color: @light-orange;
  }

  &.name.section {
    color: @blue;
  }

  &.name.tag {
    color: @purple;
    text-decoration: none;
    &.inline {
      color: mix(@orange, @red);
    }
  }

  &.other.attribute-name {
    color: @green;

    &.css {
        color: @green;
    }

    &.id {
      color: @red;
    }
  }
}
.property-name.css,
.property-name.scss {
    color: @blue;
}

.meta {
  &.class {
    color: @light-orange;
  }

  &.link {
    color: @orange;
  }
  &.tag {
    color: mix(@purple, @gray);
  }
  &.require {
    color: @blue;
  }

  &.selector {
    color: @purple;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-style: bold;
  }

  &.changed {
    color: @purple;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @purple;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
  }
}

:host(.mini) .scroll-view {
  padding-left: 1px;
}
